<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131184421859-7ib5qe1c8voarqdvqa4sdmgll18h7oje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131184421859-7ib5qe1c8voarqdvqa4sdmgll18h7oje</string>
	<key>API_KEY</key>
	<string>AIzaSyCdRcJspAv6MDbhzjHIQ02YlN9u3Imy_Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>131184421859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscar.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-4856b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4856b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131184421859:ios:017de1833fd7a89e04ced6</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-4856b-default-rtdb.firebaseio.com</string>
</dict>
</plist>