<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb404677607788580</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.131184421859-7ib5qe1c8voarqdvqa4sdmgll18h7oje</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>404677607788580</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to take a profile picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to select a photo for your profile</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow access to send audio and video messages</string>
	<key>FacebookClientToken</key>
	<string>86b1536f7118df56fcd9c80e721defb5</string>
	<key>FacebookDisplayName</key>
	<string>Messenger_iOs</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
